.dashboard-container {
    max-width: 1300px; 
    margin: 20px auto; 
}

.bank-accounts-section {
    background-color: #D7EEFF;
    border-radius: 22px; 
    padding: 25px 25px 15px 25px
}

.section-title {
    margin: 0 0 20px 0; 
    font-size: 22px; 
    color: #000; 
    font-weight: bold; 
    font-family: 'Inter';
}

.account-card {
    width: 455px;
    flex-shrink: 0;
    font-family: 'Inter';
    height: 245px;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05)
}

.account-card-label {
    font-size: 24px; 
    color: #878787; 
    margin-top: 6px; 
    font-family: 'Inter'
}

.account-card-balance {
    font-size: 48px; 
    font-weight: 800; 
    color: #000; 
    font-family: 'Inter'; 
    margin-top: 11px
}

.payment-card {
    margin-top: 15px;
}

.payment-card-info {
    background-color: #212121; 
    color: #fff; 
    padding: 8px 12px; 
    border-radius: 10px; 
    display: inline-flex;
    flex-direction: column; 
    align-items: flex-start;
}

.payment-card-number {
    font-weight: 700; 
    font-family: 'Inter'; 
    font-size: 16px; 
    margin: 0;
    margin-top: 10px;
    padding-right: 4px
}

.account-card.new-account-card {
    width: 455px;
    flex-shrink: 0;
    height: 245px;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px dashed #99c2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0056b3;
    font-family: 'Inter';
    transition: background-color 0.2s;
}
